@model ShopEcommerce.Models.Page

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<main id="main" class="main">

    <div class="pagetitle">
        <h1>Page</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a>Home</a></li>
                <li class="breadcrumb-item"><a>Page</a></li>
                <li class="breadcrumb-item active"></li>
            </ol>
        </nav>
    </div>

    <section class="section dashboard">
        <div class="row">
            <div class="col-md-12">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TitlePage)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TitlePage)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ContentPage)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ContentPage)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Menu)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Menu.LinkMenu)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="IdPage" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index">Back to List</a>
                </form>
            </div>
        </div>
    </section>
</main>
